@media print {

}

body {
    font-family: Arial, Helvetica, Verdana;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,bed0ea+51,a6c0e3+51,afc7e8+62,bad0ef+75,99b5db+88,799bc8+100;Grey+Blue+Gloss+%231 */
    background: rgb(210,223,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(210,223,237,1) 0%, rgba(200,215,235,1) 26%, rgba(190,208,234,1) 51%, rgba(166,192,227,1) 51%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    color: #6678b1;
}

.bienvenida {
    margin: 0 auto;
    margin-top: 15px;
    width: 600px;
    text-align: center;
}

.cabecera {
    margin: 0 auto;
    width: 900px;
}

.titulo {
    margin: 0 auto;
    margin-top: 15px;
    width: 800px;
    text-align: center;
    border-bottom: solid black 2px;
}

.menu {
    list-style-type: none;
    width: 600px;
    margin: 0 auto;
    margin-top: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    background: #E5E5E5;
    -webkit-border-radius: 20px 0 20px 0;
    border-radius: 20px 0 20px 0 ;
    -webkit-box-shadow:inset 0 0 5px 5px #C9C9C9;
    box-shadow:inset 0 0 5px 5px #C9C9C9;
}

.menuItem {
    float: left;
    margin-left: 10px;
}

.menuItem a {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
}

.menuItem a:hover:not(.active) {
    background-color: #FC9F5B;
}

.cuerpo {
    margin: 0 auto;
    margin-top: 35px;
    width: 900px;
}

.negrita {
    font-weight: bold;
}

.pie {
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
}

.loginForm {
    margin: 0 auto;
    margin-top: 25px;
    width: 400px;
}

.titulito {
    padding: 10px;
}

.correcto {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-top: solid 1px green;
    border-bottom: solid 1px green;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
    background: rgb(248,255,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}

.incorrecto {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}

.tabla
{
    margin: 0 auto;
    margin-top: 40px;
    width: 900px;
    border-collapse: collapse;
    text-align: left;
}

.tabla th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;

}

.tabla td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}

.cabeceraTable {
    background: #F0EDF3;
}

.impar {
    background: #FAF9FB;
}

.par {
    background: #e5e5e5;
}

.tabla tbody tr:hover td
{
    color: #009;
    background: #E1DBE8;
}
